flows.json
[{"id":"66fd6d7f03cce506","type":"group","z":"8db54268.94c47","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bf415e8438a6a6ec","f932089f4faa1469","e1666df9cd5c6a10","7f1b713cf0c52dc1","51c684da2c0fa42f","f0f10664d5e86507","f3b09d4625e935d1","41c2ec732704fa48","945f3cda375b8931","415ea1d8914c310f","841cf85be2a1ef21","6243fea63ff8812f","e19fec265c7ee952","5ec4c80b299ea5cc","7586524576566472","4fd254a7c4068439","3e29095fc83d7629","898adff46321490a","b2c30b8434c0ad88","bd8cabe0934590c3","132be16a55d9d387","8e0e8f06eddff694","9b0c2de57412337a","3a0b26faf2799813","9273f847e73923f4","e02ea474b4d64884","6b65e613cc4c81c4","2c0cf844c549ae62","156b4a37543246ea","17433b90d6fa4fea"],"x":34,"y":1771.5,"w":1532,"h":489.5},{"id":"bf415e8438a6a6ec","type":"delay","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":620,"y":2080,"wires":[["e02ea474b4d64884"]]},{"id":"f932089f4faa1469","type":"gate","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","controlTopic":"control","defaultState":"open","openCmd":"on","closeCmd":"off","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"","persist":false,"x":470,"y":2080,"wires":[["bf415e8438a6a6ec","51c684da2c0fa42f"]]},{"id":"e1666df9cd5c6a10","type":"change","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"control","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2080,"wires":[["f932089f4faa1469"]]},{"id":"7f1b713cf0c52dc1","type":"switch","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Otwarte","vt":"str"},{"t":"eq","v":"Podano zły kod","vt":"str"},{"t":"eq","v":"Dzwonek","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":1820,"wires":[["41c2ec732704fa48"],["945f3cda375b8931"],["f932089f4faa1469","415ea1d8914c310f"]]},{"id":"51c684da2c0fa42f","type":"api-call-service","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","server":"b83f28f5.8eb548","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.domofon_pick_up"],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":2160,"wires":[["6243fea63ff8812f"]]},{"id":"f0f10664d5e86507","type":"server-state-changed","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"Auto otwarcie","server":"b83f28f5.8eb548","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.domofon_auto_otwarcie","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":170,"y":2080,"wires":[["e1666df9cd5c6a10"]]},{"id":"f3b09d4625e935d1","type":"server-state-changed","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"Domofon","server":"b83f28f5.8eb548","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.domofon_dzwonek_sensor","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1820,"wires":[["7f1b713cf0c52dc1"]]},{"id":"41c2ec732704fa48","type":"gate","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","controlTopic":"control","defaultState":"open","openCmd":"on","closeCmd":"off","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":470,"y":1900,"wires":[["5ec4c80b299ea5cc"]]},{"id":"945f3cda375b8931","type":"gate","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","controlTopic":"control","defaultState":"open","openCmd":"on","closeCmd":"off","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":470,"y":1960,"wires":[["4fd254a7c4068439"]]},{"id":"415ea1d8914c310f","type":"gate","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","controlTopic":"control","defaultState":"open","openCmd":"on","closeCmd":"off","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":470,"y":2020,"wires":[["3a0b26faf2799813"]]},{"id":"841cf85be2a1ef21","type":"server-state-changed","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"Domofon otwarcie przycisk","server":"b83f28f5.8eb548","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_button.domofon_otwarcie","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":2160,"wires":[["51c684da2c0fa42f"]]},{"id":"6243fea63ff8812f","type":"delay","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":610,"y":2160,"wires":[["898adff46321490a"]]},{"id":"e19fec265c7ee952","type":"change","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"control","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1900,"wires":[["41c2ec732704fa48"]]},{"id":"5ec4c80b299ea5cc","type":"api-call-service","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","server":"b83f28f5.8eb548","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_andrzej_4","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\": \"Domofon\", \"message\": \"Otwarto poprawnym kodem.\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":710,"y":1900,"wires":[[]]},{"id":"7586524576566472","type":"change","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"control","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1960,"wires":[["945f3cda375b8931"]]},{"id":"4fd254a7c4068439","type":"api-call-service","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","server":"b83f28f5.8eb548","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_andrzej_4","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\": \"Domofon\", \"message\": \"Podano błędny kod!\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":710,"y":1960,"wires":[[]]},{"id":"3e29095fc83d7629","type":"change","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"control","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2020,"wires":[["415ea1d8914c310f"]]},{"id":"898adff46321490a","type":"api-call-service","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","server":"b83f28f5.8eb548","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.domofon_open"],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":2160,"wires":[["8e0e8f06eddff694"]]},{"id":"b2c30b8434c0ad88","type":"server-state-changed","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"Otwarcie","server":"b83f28f5.8eb548","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.domofon_otwarcie_info","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":180,"y":1900,"wires":[["e19fec265c7ee952"]]},{"id":"bd8cabe0934590c3","type":"server-state-changed","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"Zły kod","server":"b83f28f5.8eb548","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.domofon_code_error_info","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":190,"y":1960,"wires":[["7586524576566472"]]},{"id":"132be16a55d9d387","type":"server-state-changed","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"Dzwonek","server":"b83f28f5.8eb548","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.domofon_dzwonek_info","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":180,"y":2020,"wires":[["3e29095fc83d7629"]]},{"id":"8e0e8f06eddff694","type":"delay","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":950,"y":2160,"wires":[["2c0cf844c549ae62"]]},{"id":"9b0c2de57412337a","type":"api-call-service","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","server":"b83f28f5.8eb548","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.domofon_pick_up"],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":2160,"wires":[[]]},{"id":"3a0b26faf2799813","type":"change","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"Set title and Message","rules":[{"t":"set","p":"message","pt":"msg","to":"Ktoś dzwoni!","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Domofon.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":2020,"wires":[["9273f847e73923f4"]]},{"id":"9273f847e73923f4","type":"api-call-service","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","server":"b83f28f5.8eb548","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_andrzej_4","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{message}}\",\"title\":\"{{title}}\",\"data\":{\"actions\":[{\"action\":\"DOMOFON_OPEN\",\"title\":\"Otwórz teraz!\"},{\"action\":\"DOMOFON_IGNORE\",\"title\":\"Ignoruj.\"}],\"persistent\":true,\"tag\":\"persistent\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":950,"y":2020,"wires":[[]]},{"id":"e02ea474b4d64884","type":"api-call-service","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","server":"b83f28f5.8eb548","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_andrzej_4","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\": \"Domofon\", \"message\": \"Otwarcie automatyczne.\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":870,"y":2080,"wires":[[]]},{"id":"6b65e613cc4c81c4","type":"link in","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"link in 1","links":["fe143817e40fb7e6"],"x":315,"y":2200,"wires":[["51c684da2c0fa42f"]]},{"id":"2c0cf844c549ae62","type":"api-call-service","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","server":"b83f28f5.8eb548","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.domofon_open"],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":2160,"wires":[["156b4a37543246ea"]]},{"id":"156b4a37543246ea","type":"delay","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1280,"y":2160,"wires":[["9b0c2de57412337a"]]},{"id":"17433b90d6fa4fea","type":"inject","z":"8db54268.94c47","g":"66fd6d7f03cce506","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2220,"wires":[["51c684da2c0fa42f"]]},{"id":"b83f28f5.8eb548","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]